* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

header {
    background: #f5f7fa;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
}
/* =================================================================== */
img.logo {
    max-width: 350px;
}

.slogan {
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(90deg, #ff9800, #ffeb3b);
    background-clip: text;
    color: transparent;
}

.header_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.banner {
    background: #2196F3;
    color: white;
    display: flex;
    align-items: center;     
    justify-content: center; 
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5rem;
}
/* =================================================================== */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-wrap {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.hobby-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.hobby-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gender-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gender-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gender, .hobby {
    padding: 5.6px 12px 10px 12px;
}

input[type='text'], input[type='email'], textarea {
    outline: none;
    padding: 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid #E5E7EB;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: #3B82F6; 
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2); 
}

.btn {
    font-size: 1.5rem;
    padding: 10px 40px;
    color: white;
    background-color: #596D48;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.required::after {
    content: '*';
    color: red;
}

input.invalid {
    border-color: red;
}

.msg-error {
    color: red;
    font-style: italic;
}

.hidden {
    display: none;
}
/* =================================RESPONSIVE================================== */
@media (min-width: 600px) {
    .container {
        max-width: 570px;
        padding: 30px;
    }

    .hobby-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .btn {
        align-self: flex-start;
    }

    .slogan {
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 960px;
        padding: 40px;
    }
    
    .header_top {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-wrap {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    .hobby-list {
        grid-template-columns: repeat(5, 1fr);
    }

    input[type='text'], input[type='email'], textarea {
        padding: 0.5rem;
    }

    .hobby {
        padding-top: 10px;
    }
}  